<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .content-wrapper}, ~{:: #js})}">

<head>
    <title>Dashboard</title>

    <th:block id="css">

    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Tổng quan
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-6">
                                        <div class="small-box bg-info">
                                            <div class="inner">
                                                <h3 th:text="${movies.size()} + '/' + 143"></h3>
                                                <p>Phim mới/Tổng số phim</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-bag"></i>
                                            </div>
                                            <a href="/admin/movies" class="small-box-footer">Xem thêm <i
                                                    class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-6">
                                        <div class="small-box bg-success">
                                            <div class="inner">
                                                <h3 th:text="${users.size()} + '/' + 738"></h3>
                                                <p>User mới/Tổng số user</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-stats-bars"></i>
                                            </div>
                                            <a href="/admin/users" class="small-box-footer">Xem thêm <i
                                                    class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-6">
                                        <div class="small-box bg-warning">
                                            <div class="inner">
                                                <h3 th:text="${blogs.size()} + '/' + 60"></h3>
                                                <p>Bài viết mới/Tổng số bài viết</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-person-add"></i>
                                            </div>
                                            <a href="/admin/blogs" class="small-box-footer">Xem thêm <i
                                                    class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <canvas id="movie-chart"></canvas>
                                    </div>
                                    <div class="col-6">
                                        <canvas id="user-chart"></canvas>
                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-header border-transparent">
                                                <h3 class="card-title">Phim mới cập nhật</h3>
                                            </div>
                                            <div class="card-body p-0">
                                                <div class="table-responsive">
                                                    <table class="table m-0">
                                                        <thead>
                                                        <tr>
                                                            <th>Phim</th>
                                                            <th>Thể loại</th>
                                                            <th>Trạng thái</th>
                                                            <th>Ngày tạo</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="movie, iterStat : ${movies}" th:if="${iterStat.index lt 5}">
                                                            <td><a th:href="'/phim/' + ${movie.id} + '/' + ${movie.slug}" th:text="${movie.name}"></a></td>
                                                            <td>
                                                                <ul>
                                                                    <li th:each="genre : ${movie.genres}" th:text="${genre.name}"></li>
                                                                </ul>
                                                            </td>
                                                            <td><span th:text="${movie.status ? 'Công khai' : 'Ẩn'}" class="badge" th:classappend="${movie.status ? 'badge-success' : 'badge-danger'}"></span></td>
                                                            <td th:text="${movie.createdAt}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="card-footer clearfix">
                                                <a href="/admin/movies"
                                                   class="btn btn-sm btn-secondary float-right">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-header border-transparent">
                                                <h3 class="card-title">User mới</h3>
                                            </div>
                                            <div class="card-body p-0">
                                                <div class="table-responsive">
                                                    <table class="table m-0">
                                                        <thead>
                                                        <tr>
                                                            <th>Họ tên</th>
                                                            <th>Email</th>
                                                            <th>Ngày tạo</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="user, iterStat : ${users}" th:if="${iterStat.index < 5}">
                                                            <td><a th:href="'/admin/users/' + ${user.id}" th:text="${user.name}"></a></td>
                                                            <td th:text="${user.email}"></td>
                                                            <td th:text="${user.createdAt}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="card-footer clearfix">
                                                <a href="/admin/users"
                                                   class="btn btn-sm btn-secondary float-right">Xem thêm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block id="js">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!--    /*-->
<!--    data = [-->
<!--    {-->
<!--    month: 11-->
<!--    year: 2023-->
<!--    movieCount: 6-->
<!--    },-->
<!--    {-->
<!--    month: 12-->
<!--    year: 2023-->
<!--    movieCount: 15-->
<!--    },-->
<!--    {-->
<!--    month: 1-->
<!--    year: 2024-->
<!--    movieCount: 8-->
<!--    }-->
<!--    ]-->
<!--    */-->
    <script>
        // Fetch movie data
        $.ajax({
            url: '/api/admin/dashboard/data',
            type: 'GET',
            success: function(data) {
                new Chart(document.getElementById('movie-chart'), {
                    type: 'bar',
                    data: {
                        labels: data.movies.map(el => el.monthYear), // Thay đổi tên thuộc tính tùy theo định dạng dữ liệu trả về
                        datasets: [{
                            label: 'Phim cập nhật theo tháng',
                            data: data.movies.map(el => el.movieCount), // Thay đổi tên thuộc tính tùy theo định dạng dữ liệu trả về
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function(xhr, status, error) {
                alert('Failed to fetch movie data: ' + xhr.responseText);
            }
        });

        // Fetch user data
        $.ajax({
            url: '/api/admin/dashboard/data',
            type: 'GET',
            success: function(data) {
                new Chart(document.getElementById('user-chart'), {
                    type: 'line',
                    data: {
                        labels: data.users.map(el => el.monthYear), // Thay đổi tên thuộc tính tùy theo định dạng dữ liệu trả về
                        datasets: [{
                            label: 'User đăng ký theo tháng',
                            data: data.users.map(el => el.userCount), // Thay đổi tên thuộc tính tùy theo định dạng dữ liệu trả về
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function(xhr, status, error) {
                alert('Failed to fetch user data: ' + xhr.responseText);
            }
        });
    
    </script>
</th:block>

</body>

</html>